img {
  display: inline-block;
  height: auto;
  max-width: 100%;
 }

.row.content {
  background-color: lightgrey;
}

.jumbotron {
  margin-bottom: 0;
  padding-left: 15px;
  border-radius: 0;
  background-size: cover;
  background-repeat: repeat;
  background-color: #011223;
}

.sideright {
  padding-left: 0;
  padding-right:0;
}

.sideright .thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: table;
  margin: auto;
}

.sideleft {
  padding-top: 30px;
}

footer, .jumbotron {
  color: white;
  background-image: url("../img/music_score_wavy.png");
}

footer {
  background-color: #222222;
  padding: 15px;
}

.romanize {
  font-size: 200%;
  font-family: ‘Times New Roman’, Times, serif;
}

.lead::first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
