img {
  display: inline-block;
  height: auto;
  max-width: 100%;
 }

.row.content {
  background-color: lightgrey;
}

.jumbotron {
  margin-bottom: 0;
  padding-left: 15px;
  border-radius: 0;
  background-image: url("../img/black_pattern.png");
  background-repeat: repeat;
  background-color: black;
  color: white;
}

.sideright {
  padding-left: 0;
  padding-right:0;
}

.sideleft {
  padding-top: 30px;
}
